.contactHeader {
  font-family: "Gilroy", sans-serif;
  font-weight: 300;
  font-size: 80px;
  color: #252525;
  margin: 30px 20px 30px 20px;
  text-align: center;
}
@media screen and (min-width: 991px) {
  .contactHeader {
    font-size: 150px;
  }
  
}

@media screen and (min-width: 1921px) {
  .contactHeader {
    font-size: 155px;
    margin-top: 0px;
    text-align: left;
    display: flex;
    flex: 1;
  }
  
}

.contactDescWrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #252525;
  text-align: center;
}

.contactTitle {
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: rgb(37, 37, 37);
  margin-bottom: 30px;
  margin-inline: 20px;
}

.contactSubtitle {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: rgb(37, 37, 37);
  margin-bottom: 30px;
  margin-inline: 20px;
}

@media screen and (min-width: 991px) {
  .contactTitle {
    font-size: 64px;
  }
  
  .contactSubtitle {
    font-size: 34px;
  }
  
}

.getInTouchWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.getInTouchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 50px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 15px 30px 15px 30px;
  margin-inline: 20px;
  margin-bottom: 50px;
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  gap: 10px;
}

.getInTouchButton::after {
  content: url('../../assets/selected-work/arrow.svg');
  height: 1.75em;
  }

  @media screen and (min-width: 991px) {
    .getInTouchButton {
      width: 195px;
      height: 53px;
      padding: 0;
    }
    
  }

  @media screen and (min-width: 1921px) {
    .getInTouchWrapper {
      justify-content: unset;
    }
  }

.footer { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    gap: 20px;
  }

  .footerText {
    font-family: 'Gilroy', sans-serif;
    font-weight: 350;
    font-size: 18px;
    color: rgb(37, 37, 37);
  }
  .boldText {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
  }

  .logosWrapper {
    display: flex;
    gap: 10px;
  }

  @media screen and (min-width: 991px) {
    .footer {
      flex-direction: row;
      justify-content: space-between;
      padding: 45px 30px;
    }

  }

  @media screen and (min-width: 1921px) {
    .footer {
      flex-direction: row;
      justify-content: space-between;
      padding: 25px 70px 25px 70px;
      margin-bottom: 56.5px;
    }

  }

  @media screen and (min-width: 1921px) {
  
    .contactWrapper {
    display: flex;
    margin: 50px 69px 100px 70px;
    padding-top: 50px;
  }
    .contactDescWrapper {
      border-bottom: none;
      flex: 1;
      text-align: left;
    }
  }