.ourTeamContainer {
  border-bottom: 1px solid #252525;
}
.ourTeamProfileWrapper {
margin-inline: 20px;
}
.ourTeamHeader {
  margin: 30px 0 30px 0px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 300;
  font-size: 80px;
  color: rgb(37, 37, 37);
  text-align: center;
}

@media screen and (min-width: 991px) {
  .ourTeamHeader {
    font-size: 150px;
  }
}

@media screen and (min-width: 1921px) {
  .ourTeamHeader {
    font-size: 212px;
    margin-top: 50px;
    margin-inline: 413px;
  }
}
.profilePhoto {
  height: 507px;
}

@media screen and (min-width: 991px) {
  .ourTeamProfileWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-inline: 30px;
  }

  .profilePhoto {
    max-height: 507px;
  }
}


@media screen and (min-width: 1921px) {
  .ourTeamProfileWrapper {
    margin-inline: 70px;
    justify-content: unset;
  }
  .profilePhoto {
    max-width: 415px;
  }
}

.profileWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

@media screen and (min-width: 991px) { 
  .profileWrapper {
align-items: flex-start;
  }
}

.profileName {
font-family: 'Gilroy', sans-serif;
font-weight: 800;
font-size: 30px;
color: rgb(51, 51, 51);
}

.profilePosition {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(51, 51, 51);
}

.profilePhoto {
  width: 100%;
  height: auto;
}

.logosWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 15px;
  padding-bottom: 20px;
}

@media screen and (min-width: 991px) {
  .logosWrapper {
    justify-content: flex-end;
  }
}

.logo {
  width: 30px;
  height: 30px;
  fill: black;
}

.findJobWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 20px 50px 20px;  
}

.findJobHeader {
  font-family: 'Gilroy', sans-serif;
  font-weight: 350;
  font-size: 30px;
  color: rgb(51, 51, 51);
  margin-bottom: 15px;
}

.findJobDesc {
  display: flex;
  text-align: center;
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: rgb(51, 51, 51);
  margin-bottom: 15px;
}
@media screen and (min-width: 991px) {
  .findJobWrapper {
  align-items: flex-start;
  margin: 30px 20px 50px -40px;  

  }

  .findJobDesc {
    font-size: 64px;
    text-align: left;
  }
}

@media screen and (min-width: 1921px) {
  .findJobWrapper {
    margin: 30px 20px 50px 0px
  }
}

.findJobButtonWrapper {
  display: flex;
  width: 100%;
}

.findJobButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 50px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 15px 30px 15px 30px;
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  gap: 10px;
}

.findJobButton::after{
  content: url('../../assets/selected-work/arrow.svg');
  height: 1.75em;
}

@media screen and (min-width: 991px) {
  .findJobButton {
    width: 163px;
    height: 53px;
  }
}
