@media screen and (min-width: 1921px) {
  .aboutMeContainer {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #252525
  }
} 

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 20px;
  text-align: center;
}

.descriptionText {
  font-family: "Gilroy", sans-serif;
  font-weight: 300;
  font-size: 30px;
}
.boldText {
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-size: 30px;
}

.aboutMeWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;  
  padding-bottom: 40px;
  padding-top: 40px;
  align-items: flex-end;
  background-color: #252525;
}

@media screen and (min-width: 1921px) {
  .aboutMeWrapper {
    justify-content: center;
    margin: auto;
    align-items: flex-end;
    padding-right: 70px;
    padding-left: 150px;
  }
}

.aboutMeText { 
font-family: "Gilroy", sans-serif;
font-weight: 400;
font-size: 28px;
color: white;
background-color: #252525;
margin-right: 30px;
}

@media screen and (min-width: 991px) {
  .descriptionText, .boldText {
    font-size: 52px;
  }  
  .description {
    margin: 30px;
  }
}

@media screen and (min-width: 1921px) {
  .description {
    margin: 93px 0px;;
    padding: 0px 70px;
  }
}

.mediaLogos {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  background-color: #252525;
  margin-right: 30px;
}

.mediaLogos img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #252525;
}