.menu {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
}

.menuText {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: rgb(37, 37, 37)
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 20px 0px 20px;
}

.title {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 57px;
  letter-spacing: -2.5px;
  color: rgb(37, 37, 37)
}

.subtitle {
  font-family: "Gilroy", sans-serif;
  font-weight: 300;
  font-size: 53px;
  color: rgb(37, 37, 37)
}

.scrollDown {
  margin-top: 30px;
  padding-bottom: 20px;
}

.mainPhoto {
  width: 100%;
  height: auto;
}

