.menu {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
}

.dianneStudio {
  display: none;
}

.menuText {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: rgb(37, 37, 37)
}
@media screen and (min-width: 1921px), screen and (min-width: 991px) {
  .dianneStudio {
    display: flex;
    margin-left: 15px;
  } 
  .menu {
    display: flex;
    padding: 40px 70px 30px 70px;
    justify-content: unset;
  }
  .menuText {
    margin-left: auto;
  }
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 20px 0px 20px;
}

@media screen and (min-width: 1921px) {
  .titleWrapper {
    margin: 30px 70px 0px 70px;
  }
}

.title {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 57px;
  letter-spacing: -2.5px;
  color: rgb(37, 37, 37)
}

.subtitle {
  font-family: "Gilroy", sans-serif;
  font-weight: 300;
  font-size: 53px;
  color: rgb(37, 37, 37)
}
@media screen and (min-width: 991px) {
  .title {
    font-size: 120px;
  }  
  .subtitle {
    font-size: 110px;
  }
}

.scrollDown {
  margin-top: 30px;
  padding-bottom: 20px;
}

@media screen and (min-width: 1921px) {
  .scrollDown {
    padding-bottom: 40px;
  }
  
}

.mainPhoto {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 991px) {

  .header {
    overflow: hidden;
  }
  .mainPhoto {
    height: 956px;
    object-fit: cover;
  }
  
}
