.logosContainer {
  max-width: 478px;
  border-bottom: 1px solid #394149
}

.logosWrapper {

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 30px 20px 30px 20px;

}
