@media screen and (min-width: 1921px) {
  .selectedWork {
    display: flex;
    flex-direction: row;
  }
}
.selectedWorkContainer {
 border-bottom: 1px solid #252525;
}

.selectedWorkHeader {
  font-family: 'Gilroy', sans-serif;
  font-weight: 300;
  font-size: 80px;
  color: rgb(37, 37, 37);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 991px) {
  .selectedWorkHeader {
    font-size: 150px;
  }
}


.profileImagesWrapper {
display: flex;
flex-direction: column;
}

@media screen and (min-width: 1921px) {
  .profileImagesWrapper {
    flex-direction: row;
    order: 1;
  }
}

@media screen and (min-width: 1921px) {
  .profileImagesSecond {
    flex-direction: row;
    order: 0;
  }
}

.profileImage {
  margin: 0px 20px 20px 20px;
}

@media screen and (min-width: 991px) {
  .profileImage { 
    margin: 0px 30px 30px 30px;
  }
}

@media screen and (min-width: 1921px) {
  .profileImage { 
    width: 567px;
    height: 567px;
  }
}

.profileName {
  margin-inline: 30px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 35px;
  color: rgb(37, 37, 37);
  margin-bottom: 20px;
}

@media screen and (min-width: 931px) {
.profileName {
  margin-bottom: 30px;
}
}

.profileWorks {
  display: flex;
  flex-direction: column;
  margin: 0px 20px 20px 0px;
}

.profileTags {
  display: flex;
  margin-left: 20px;
  gap: 30px;
  margin-bottom: 20px;
}

.profileButtons {
  display: flex;
  align-items: center;
  border-radius: 50px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 15px 30px 15px 30px;
  background-color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 991px) {
  .profileButtons {
  margin-right: 15px;
  }
}

.profileDiscover {
  display: flex;
  justify-content: flex-end;

}
.discoverButton {
  background-color: rgb(37, 37, 37);
  color: rgb(255, 255, 255);
  gap: 10px;
  padding: 10px 30px 10px 30px;
}

.discoverButton::after {
  content: url('../assets/selected-work/arrow.svg');
  height: 1.75em;
  }

@media screen and (min-width: 931px) {
  .discoverButton {
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 1921px) {
  .profileWorks {
   display: flex;
   width: 567px;
   height: 567px; 
   margin-left: 40px;
   margin-right: 0px;
  }
  .profileWorksSecond {
    margin-left: 0px;
  }
  .profileDiscover {
    flex-grow: 1;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .discoverButton {
    margin: 0;
  }
  .profileName {
    margin-left: 0;
  }
  .selectedWork {
    gap: 40px;
  }
  .selectedWorkSecond { 
    margin-left: 40px;
    gap: 40px;
    margin-top: 50px;
  }
  .profileImagesWrapper {
    gap: 40px;
  }
  .profileImagesSecond > .profileImage {
    margin: 0px;
  }
  .profileImage {
    margin: 0px;
  }
}

.profileFooter {
  display: flex;
}

.allWorkButton {
  width: 100%; 
  display: block; 
  text-align: center;
  margin: 40px 20px 30px 20px;
  border-radius: 50px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
}

@media screen and (min-width: 1921px) {
  .profileFooter {
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 70px;
  }
@media screen and (min-width: 991px) {
  .profileFooter {
    justify-content: center;
  }
  .allWorkButton {
align-content: center;
width: 187px;
height: 52px;
}
};
}

