.iDoContainer {
  border-bottom: 1px solid #252525;
}

.iDoWrapper {
  display: flex;
  flex-direction: column;
}

.iDoPhoto {
  width: 100%;
  height: auto;
}

.iDoSkillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iDoSkills {
  border-bottom: 1px solid #252525;
}

.iDoSkillsMainHeader {
  font-family: "Gilroy", sans-serif;
  font-weight: 300;
  font-size: 80px;
  color: #252525;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px 14.5px 5px 14.5px;
}

.iDoSkillsWrapper {
  display: flex;
  flex-direction: column;
  margin: 0px 20px 0px 20px;
} 

.iDoSkillsHeader {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 10px;
  color: #252525;
  margin-top: 30.5px;
}

.iDoSkillsDesc {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  line-height: 1.4;
  margin-bottom: 29.5px;
}

.lastSkill {
  margin-bottom: 0px;
  border: none;
}

.lightText {
  font-family: 'Gilroy', sans-serif;
  font-weight: 300;
}